body {
    background: linear-gradient(80deg, #dec1e8, #bae3f1);
    
}

.title {
   position: absolute;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    margin-top: -1.5em;
}

.button a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    padding:12px 50px;
    margin:0 2px;
    position: relative;
    display:inline-block;
    color:rgb(146, 4, 75);
    text-transform: uppercase;
    text-decoration: none;
    z-index: 1;
}

.button a:hover {
    color:#c3e01b;
}

.button {
    position: absolute;
    text-align: center;
    border:2px solid transparent;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);

}

.button:hover {
    border-radius:50%;
    background:linear-gradient(70deg, #916ced, #06bfd7);
}

.button::before,
.button::after {
  content:'';
  position: absolute;
  transform-origin:center center;
  transition:300ms ease-in-out;
}

.button::before,
.button::after {
    background:linear-gradient(70deg, #916ced, #06bfd7);
    transition-duration: 500ms;
}

.button::before {
    width:calc(95% + 2px  * 2 - 10px);
    height:calc(100% +2px * 2);
    top:-2px;
    left:50%;
    transform:translateX(-50%);
}

.button::after {
    width:calc(100% + 2px * 2);
    height:calc(100% + 2px * 2 - 10px);
    left:-2px;
    top:50%;
    transform:translateY(-50%);
}

.button:hover::before {
    width:0;

}

.button:hover::after {
    height:0;
}